<% include ./partials/header.ejs %>
  <div class="container" style="margin-top: 6vh;">
    <div class='row'>
      <div class='col-md-6 col-sm-12'>
    <div class="card" >
      <img src=<%= album.IMAGEURL %>  class="card-img-top" alt="...">
      <div class="card-body">
        <p class="lead " style='color: black; font-size: 3vh; text-align:center;'> <%= album.ALBUMNAME %>  </p>
        <p class="lead " style='color: black; font-size: 3vh; text-align:center;'> <%= album.ARTIST %>  </p>
      </div>
    </div>
    </div>
    <div class='col-md-6 col-sm-12'>
      <div class="card">
    <div class="card-header">
      Songs
    </div>
    <ul class="list-group list-group-flush">
      <% songs.forEach(function(song) { %>
        <li class="list-group-item"> <%= song.SONGNAME %> <a href="/song/buy/<%= song.SID %>" style="float:right;" class="btn btn-primary  text-uppercase" type="cancel">  BUY:  <%=song.PRICE%> </a> </li>
        <% }); %>

    </ul>
  </div>
    </div >
    </div>
  </div>
  </div>
<% include ./partials/footer.ejs %>
